<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<style>
    img {
        width: 80%;
        height: 80%;
        align-content: center;
    }
    h1 {
        color: darkgreen;
        align-items: center;
    }
</style>
<body>

    <h1>Hello, <span th:text="${name}"/>!</h1>

    <img src="http://pluspng.com/img-png/png-panda-panda-png-1000.png" alt="Panda judges you"/>

</body>
</html>